/* Cards */
#content {
    flex-wrap: wrap;
    perspective: 800px; /* Todo: scale up perspective for smaller screens */
}
.card {
    display: inline-block;
    margin: 30px 20px;
    padding: 20px;
    box-shadow: 0 0 3px #F5F7FA;
    border-radius: 5px;
    background: rgba(245, 247, 250, 0.1);
    cursor: pointer;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}

/* Card Flip */
.front, .back {
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}
.back {
    position: absolute;
    top: 20px;
    left: -10;
    transform: rotateY( 180deg );
}
.future {
    position: absolute;
    top: -20px;
    left: 2px;
    font-size: 10px;
    color: rgba(245, 247, 250, 0.9);
}

/* Item Style */
input[type=text] {
    background-color: transparent;
    border: none;
    outline: none;
    color: #F5F7FA;
    font-size: 18px;
    width: auto;
    caret-color: #333; /* Cursor color */
}
input.title {
    font-size: 28px;
    font-family: "Raleway";
}

/* 'New card' Card Style */
.addCardContainer {
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.addCard {
    height: 48px;
    width: 48px;
    padding: 21px 0 21px 0;
    transition: all 0.3s ease-out;
    transform-origin: 50% 50% 0;
    user-select: none;
}
span.addCardContainer:hover img.addCard {
    transform: rotateZ( 90deg );
}
input::-webkit-input-placeholder {
    color: rgba(245, 247, 250, 0.7);
}
form .form-control::-moz-placeholder {
    color: rgba(245, 247, 250, 0.7);
}
form .form-control:-ms-input-placeholder {
    color: rgba(245, 247, 250, 0.7);
}
form .form-control:placeholder {
    color: rgba(245, 247, 250, 0.7);
}

/* Responsive Design */
@media all and ( max-width: 842px ) {
    .addCardContainer {
        margin: 20px 100px 60px 100px;
    }
}
