body {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "header header header"
        ". main .";
    background-image: linear-gradient( #3BECAB, #15B7E4 );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #F5F7FA;
    min-height: 100vh;
    margin: 0;
    font-family: "Open Sans";
}

/* Header */
#header {
    grid-area: header;
    
}
h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    font-family: "Raleway";
}

/* Content */
#content {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Input */
input::-webkit-input-placeholder {
    color: rgba(245, 247, 250, 0.7);
}
input::-moz-placeholder {
    color: rgba(245, 247, 250, 0.7);
}
input::-ms-input-placeholder {
    color: rgba(245, 247, 250, 0.7);
}
input::placeholder {
    color: rgba(245, 247, 250, 0.7);
}

/* Responsive Design */
@media all and ( max-width: 580px ) {
    body {
        grid-template-areas: 
            "header header header"
            "main main main";
    }
}