body {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "header header header"
        ". main .";
    background-image: linear-gradient( #3BECAB, #15B7E4 );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #F5F7FA;
    min-height: 100vh;
    margin: 0;
    font-family: "Open Sans";
}
h1 {
    grid-area: header;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}
h1, h2, h3 {
    font-family: "Raleway";
}

/* Items Styling */
.content {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
span {
    display: inline-block;
    padding: 0 20px;
}

/* Input Style */
input[type=text] {
    background-color: transparent;
    border: none;
    outline: none;
    color: #F5F7FA;
    font-size: 18px;
    width: auto;
    caret-color: #333; /* Cursor color */
}
