body {
    background-image: url("background.png");
    font-family: 'Raleway';
    color: #F5F7FA;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
h1 {
    margin-top: 7vh;
}
h2 {
    font-size: 20px;
    display: inline;
}
li {
    text-align: left;
    margin-left: 50px;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
}
.item {
    width: 400px;
    background-color: #3BECAB;
    border: 2px solid #7A57D1;
    margin: 3vh 15px;
    padding: 15px 0 0 0;
    /* Makes item unselectable */
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden {
    display: none;
} 
.status {
    display: inline;
    text-align: right;
}
#notice {
    margin-top: 30px;
}


/* Flexbox Order */
#Container1 {
    order: 1;
}
#Container2 {
    order: 2;
}
#Container3 {
    order: 3;
}
#Container4 {
    order: 4;
}
#Container5 {
    order: 8;
}
#Container6 {
    order: 6;
}
#Container7 {
    order: 7;
}
#Container8 {
    order: 5;
}
#Container9 {
    order: 3;
}

@media all and (max-width:900px) {
    .item {
        margin: 0px 0px 10px;
    }
}