DATABASE=   # Format: mongodb://user:password@(hostname:)port/db
PORT=       # Port the app will run on
SECRET=     # Secret for signing cookies
PROD=       # Set to 1 for production, leave empty for development
