extends layout

include mixins/_svgs

block styles
  link( rel="stylesheet" href="styles/account.bundle.css" )

block content
  .group-wrapper.hidden
    .title-wrapper
      h2 Change username
      +dropdown()
    .input-wrapper
      label Username
        input( name="username" type="text" value=`${ newUsername || username }` )
      label Confirm changes
        input( name="username_confirm" type="password" )
      button.btn-submit( name="username_button" ) Submit
  hr
  .group-wrapper.hidden
    .title-wrapper
      h2 Change password
      +dropdown()
    .input-wrapper
      label Password
        input( name="password" type="password" )
      label Repeat password
        input( name="password_repeat" type="password" )
      label Confirm changes
        input( name="password_confirm" type="password" )
      button.btn-submit( name="password_button" ) Submit
  hr
  .group-wrapper.hidden
    .title-wrapper
      h2 Clear cards
      +dropdown()
    .input-wrapper
      label Confirm removal
        input( name="clear_confirm" type="password" )
      button.btn-submit( name="clear_button" ) Clear
  hr
  .group-wrapper.hidden
    .title-wrapper
      h2 Remove account
      +dropdown()
    .input-wrapper
      label Confirm removal
        input( name="remove_confirm" type="password" )
      button.btn-submit( name="remove_button" ) Remove
  hr
  .group-wrapper.hidden
    .title-wrapper
      h2 Add API Key
      +dropdown()
    .input-wrapper
      if apiKey
        textarea#apiKey( cols="25" rows="2" contentEditable="false" )= apiKey 
        button.btn-submit( name="copy-api" ) Copy to clipboard
      button.btn-submit( name="gen-api" )= `${apiKey ? "Re-" : ""}Generate`
  hr

block scripts
  script( src="scripts/account.bundle.js" )
