include mixins/_header
include mixins/_footer

doctype html
html
  head
    title= `${title} | Projects Overviewer`
    link( rel="shortcut icon" type="image/png" href="img/favicon.png" )
    link( href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"  rel="stylesheet")
    block styles

  body
    +header
          
    #content
      block flashes
        if locals.flashes
          - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash( class=`-${category}` onClick="this.remove()" )
                  p.flash__text!= message
      #inner
        block content
    
    +footer

    block scripts

    style.
      html {
        box-sizing: border-box;
      }
      *:not( img ), *:before, *:after {
        box-sizing: inherit;
      }
