extends layout

block styles
  link( rel="stylesheet", href="styles/loginRegister.bundle.css" )

block content
  h1 Login
  label Username
    input( name="username" type="text" required )
  label Password
    input( name="password" type="password" required )
  button.button#login Log In
  .dots
    img( src="img/dots.png" )
  a.button( href="register" ) Register

block scripts
  script( src="scripts/loginRegister.bundle.js" )
