extends layout

include mixins/_cards

block styles
  link( rel="stylesheet", href="/styles/main.css" )

block status
  - if ( username.length > 20 ) { username = username.slice( 0, 20 ); }
  .nav-container
    a.nav-username( href="/account" )=username
    .header-underline
  .nav-container
    a( href="/logout" )
      img.logout-icon( src="/img/logout.png" )

block content
  #cards
    each card in cards
      span.card( id=card._id )  
        .front.inner
          +frontCard( card )
        .back.inner
          +backCard( card )
    span.card.addCardContainer
      img.addCard( src="/img/add.png" )

block scripts
  script( src="/scripts/main.js" )
