extends layout

block styles
  link( rel="stylesheet", href="styles/loginRegister.bundle.css" )

block content
  h1 Register
  label Username
    input( name="username" type="text" required )
  label Password
    input( name="password" type="password" required )
  label Confirm password
    input( name="password_confirm" type="password" required )
  button.button#register Register
  .dots
    img( src="img/dots.png" )
  a.button( href="login" ) Login

block scripts
  script( src="scripts/loginRegister.bundle.js" )
