include mixins/_header

head
  title= `${title} | Projects Overviewer`
  link( rel="stylesheet", href="styles/welcome.bundle.css" )
  link( rel="shortcut icon" type="image/png" href="img/favicon.png" )
  link( href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"  rel="stylesheet")

body
  #hero
    +header 
    p.intro Webapp to manage current and future projects,<br>minimizing the number of overall projects.<br>Less concurrently active projects lead to faster completion,<br>as ones energy is naturally more focused.
    a( href="register" ).button--get-started Get started

block scripts
  script( src="scripts/welcome.bundle.js" )
