include mixins/_header

head
  title= `${title} | Projects Overview`
  link( rel="stylesheet", href="styles/welcome.bundle.css" )
  link( rel="shortcut icon" type="image/png" href="img/favicon.png" )
  link( href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"  rel="stylesheet")

body
  #hero
    +header 
    p.intro Webapp to manage current and future projects,<br>(hopefully) minimizing the number of overall projects.<br>Having less concurrently active projects leads to faster completion,<br>as ones energy is naturally more focused.
    .buttons
      a( href="register" ).button--get-started Get started
      a( href="https://github.com/jneidel/projects-overview" ).button--get-started Source
  #content

  block scripts
    script( src="scripts/welcome.bundle.js" )

  style.
    html {
      box-sizing: border-box;
    }
    *:not( img ), *:before, *:after {
      box-sizing: inherit;
    }
