@mixin grid-row-spans {
  .-span1 { grid-row: span 7; }
  .-span2 { grid-row: span 8; }
  .-span3 { grid-row: span 9; }
  .-span4 { grid-row: span 10; }
  .-span5 { grid-row: span 11; }
  .-span6 { grid-row: span 12; }
  .-span7 { grid-row: span 13; }
  .-span8 { grid-row: span 14; }
  .-span9 { grid-row: span 15; }
  .-span10 { grid-row: span 16; }
  .-span11 { grid-row: span 17; }
  .-span12 { grid-row: span 18; }
  .-span13 { grid-row: span 19; }
  .-span14 { grid-row: span 20; }
  .-span15 { grid-row: span 21; }
  .-span16 { grid-row: span 22; }
  .-span17 { grid-row: span 23; }
  .-span18 { grid-row: span 24; }
  .-span19 { grid-row: span 25; }
  .-span20 { grid-row: span 26; }
  .-span21 { grid-row: span 27; }
  .-span22 { grid-row: span 28; }
  .-span23 { grid-row: span 29; }
  .-span24 { grid-row: span 30; }
  .-span25 { grid-row: span 31; }
  .-span26 { grid-row: span 32; }
  .-span27 { grid-row: span 33; }
  .-span28 { grid-row: span 34; }
  .-span29 { grid-row: span 35; }
  .-span30 { grid-row: span 36; }
  .-span31 { grid-row: span 37; }
  .-span32 { grid-row: span 38; }
  .-span33 { grid-row: span 39; }
  .-span34 { grid-row: span 40; }
  .-span35 { grid-row: span 41; }
  .-span36 { grid-row: span 42; }
  .-span37 { grid-row: span 43; }
  .-span38 { grid-row: span 44; }
  .-span39 { grid-row: span 45; }
  .-span40 { grid-row: span 46; }
  .-span41 { grid-row: span 47; }
  .-span42 { grid-row: span 48; }
  .-span43 { grid-row: span 49; }
  .-span44 { grid-row: span 50; }
  .-span45 { grid-row: span 51; }
  .-span46 { grid-row: span 52; }
  .-span47 { grid-row: span 53; }
  .-span48 { grid-row: span 54; }
  .-span49 { grid-row: span 55; }
  .-span50 { grid-row: span 56; }
  .-span51 { grid-row: span 57; }
  .-span52 { grid-row: span 58; }
  .-span53 { grid-row: span 59; }
  .-span54 { grid-row: span 60; }
  .-span55 { grid-row: span 61; }
  .-span56 { grid-row: span 62; }
  .-span57 { grid-row: span 63; }
  .-span58 { grid-row: span 64; }
  .-span59 { grid-row: span 65; }
  .-span60 { grid-row: span 66; }
  .-span61 { grid-row: span 67; }
  .-span62 { grid-row: span 68; }
  .-span63 { grid-row: span 69; }
  .-span64 { grid-row: span 70; }
  .-span65 { grid-row: span 71; }
  .-span66 { grid-row: span 72; }
  .-span67 { grid-row: span 73; }
  .-span68 { grid-row: span 74; }
  .-span69 { grid-row: span 75; }
  .-span70 { grid-row: span 76; }
  .-span71 { grid-row: span 77; }
  .-span72 { grid-row: span 78; }
  .-span73 { grid-row: span 79; }
  .-span74 { grid-row: span 80; }
  .-span75 { grid-row: span 81; }
  .-span76 { grid-row: span 82; }
  .-span77 { grid-row: span 83; }
  .-span78 { grid-row: span 84; }
  .-span79 { grid-row: span 85; }
  .-span80 { grid-row: span 86; }
  .-span81 { grid-row: span 87; }
  .-span82 { grid-row: span 88; }
  .-span83 { grid-row: span 89; }
  .-span84 { grid-row: span 90; }
  .-span85 { grid-row: span 91; }
  .-span86 { grid-row: span 92; }
  .-span87 { grid-row: span 93; }
  .-span88 { grid-row: span 94; }
  .-span89 { grid-row: span 95; }
  .-span90 { grid-row: span 96; }
  .-span91 { grid-row: span 97; }
  .-span92 { grid-row: span 98; }
  .-span93 { grid-row: span 99; }
  .-span94 { grid-row: span 100; }
  .-span95 { grid-row: span 101; }
  .-span96 { grid-row: span 102; }
  .-span97 { grid-row: span 103; }
  .-span98 { grid-row: span 104; }
  .-span99 { grid-row: span 105; }
  .-span100 { grid-row: span 106; }
}
