@import "mixins/_patterns.scss";

@mixin card {
  // Card styles
  .card {
    box-sizing: content-box;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.6s ease, height 0.6s ease;
    transform-style: preserve-3d;
    margin-bottom: $margin-betweenCards;
    padding: 20px;

    @include container;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 10px;
    }
  }

  // Card flip
  .front, .back {
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .back {
  position: absolute;
  top: 20px;
  left: -10;
  transform: rotateY( 180deg );
  }
  .future {
    position: absolute;
    top: -20px;
    left: 6px;
    font-size: $fontSize-small;
    color: rgba( $white, 0.85 );
  }

  // Item style
  input {
    width: 200px;
    color: #F5F7FA;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: $fontSize-standard;
    caret-color: $color-cursor;
  }
  .title {
    width: 250px;
    font-family: $font-headline;
    font-size: $fontSize-headline;
    user-select: none;
    margin-left: 4px;
  }

  // Remove card bullet
  .titleContainer {
    display: flex;
    margin-left: -10px;
    
    .title {
      margin-left: 0;
    }

    &:hover .remove {
      transform: translateX( 0% );
    }
  }
  .removeWrapper {
    display: block;
    overflow: hidden;
  }
  .remove {
    position: relative;
    top: 3px;
    transform: translateX( 100% );
    user-select: none;
    padding-right: 4px;

    transition: transform 0.2s ease;
    &:hover {
      color: $black;
    }
  }

  // Switch, bullets
  .bullet {
    font-size: 0.8rem;
    margin-right: 6px;
    user-select: none;
  }
  li:hover .switch {
    visibility: visible;
  }
  .switch {
    height: 12px;
    width: 12px;
    margin-left: 5px;
    visibility: hidden;

    &:hover g path {
      fill: $black;
    }
  }
}
