// Basic colors
$white: #F5F7FA;
$black: #333;
$green: #3BECAB;
$blue: #15B7E4;
$yellow: #FFC93C;
$red: #FC3A52;

// Applied colors
$color-cursor: $black;

// Fonts
$font-headline: "Raleway", "Open Sans", Arial;
$font-text: "Open Sans", Arial;

// Font sizes
$fontSize-standard: 16px;
$fontSize-headline: 1.55rem;
$fontSize-small: 0.65rem;

// Height - Width
$height-header: 60px;

// Margins
$margin-contentTop: 40px;
$margin-betweenCards: 25px;
