// Basic colors
$white: #F5F7FA;
$black: #333;
$green: #3BECAB;
$blue: #15B7E4;
$yellow: #FFC93C;
$red: #FC3A52;

// Applied colors
$color-cursor: $black;

// Fonts
@font-face {
  font-family: BlowBrush;
  font-weight: bold;
  src: url( "fonts/BlowBrush.otf" ) format( "opentype" );
}
@font-face {
  font-family: Quantify;
  font-weight: bold;
  src: url( fonts/Quantify.ttf );
}

$font-headline: "Raleway", "Open Sans", Arial;
$font-text: "Open Sans", Arial;
$font-logo: Quantify, "Raleway", Arial;

// Font sizes
$fontSize-standard: 16px;
$fontSize-headline: 1.55rem;
$fontSize-small: 0.65rem;

// Height - Width
$height-header: 60px;

// Margins
$margin-contentTop: 40px;
$margin-betweenCards: 44px;
