@import "mixins/_patterns.scss";

#inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 800px;
}
.card {
  display: inline-block;
  margin: $margin-betweenCards;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.6s ease, height 0.6s ease;
  transform-style: preserve-3d;

  @include container;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
  }
}

/* Card Flip */
.front, .back {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.back {
  position: absolute;
  top: 20px;
  left: -10;
  transform: rotateY( 180deg );
}
.future {
  position: absolute;
  top: -20px;
  left: 2px;
  font-size: $fontSize-small;
  color: rgba( $white, 0.85 );
}

/* Item Style */
input {
  width: 200px;
  color: #F5F7FA;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: $fontSize-standard;
  caret-color: $color-cursor;
}
input.title {
  width: 250px;
  font-family: $font-headline;
  font-size: $fontSize-headline;
}

/* 'New card' Card Style */
.addCardContainer {
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img.addCard {
  height: 48px;
  width: 48px;
  padding: 21px 0 21px 0;
  transition: transform 0.3s ease-out;
  transform-origin: 50% 50% 0;
  user-select: none;
}
span.addCardContainer:hover img.addCard {
  transform: rotateZ( 90deg );
}

/* Switch, Bullets */

.bullet {
  font-size: 0.8rem;
  margin-right: 6px;
  user-select: none;
}
li:hover .switch {
  visibility: visible;
}
.switch {
  height: 12px;
  width: 12px;
  margin-left: 5px;
  visibility: hidden;

  &:hover g path {
    fill: $black;
  }
}

/* Flashes */
.flash {
  width: auto;
  margin-top: 20px;
  margin-bottom: -40px;
}

/* Responsive Design */
@media all and ( max-width: 842px ) {
  .addCardContainer {
    margin: 20px 100px 60px 100px;
  }
}

/* Applying margin to inner insted of content as otherwise the card flip animation will be cut off */
#inner {
  margin: $margin-contentTop 0;
}
#content {
  margin: 0;
}
.flash:nth-of-type( 1 ) {
  margin-top: $margin-contentTop;
  margin-bottom: 0;
}
