@import "mixins/_patterns.scss";
@import "mixins/_app-grid.scss";
@import "mixins/_card.scss";

#inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, 300px );
  grid-template-rows: 22px; // Will be changed in app.js
  grid-column-gap: $margin-betweenCards;
  justify-content: center;
  perspective: 800px;
}

// Style cards
@include card; // _card

// Grid classes
@include grid-row-spans; // _app-grid

// Add card buttton
.addCardContainer {
  $gap: 30px;
  $dimensions: 70px;
  
  position: fixed;
  right: $gap;
  bottom: $gap;
  width: $dimensions;
  height: $dimensions;
  display: flex;
  justify-content: center;
  align-items: center;

  @include container; // _patterns

  border-radius: 50%;
  cursor: pointer;

  &:hover .addCard {
    transform: rotateZ( 90deg );
  }
}
.addCard {
  $dimensions: 32px;

  height: $dimensions;
  width: $dimensions;
  transition: transform 0.3s ease-out;
  transform-origin: 50% 50% 0;
  user-select: none;
}

// Flashes
.flash {
  width: auto;
  margin-top: 20px;
  margin-bottom: -40px;
}

/* Applying margin to inner insted of content as otherwise the card flip animation will be cut off */
#inner {
  margin: $margin-contentTop 0;
}
#content {
  margin: 0;
}
.flash:nth-of-type( 1 ) {
  margin-top: $margin-contentTop;
  margin-bottom: 0;
}

/* Fix card being cut of on flip */
body {
  grid-template-columns: 1vw auto 1vw;
}
#content {
  margin: 0 5vw;
}
