@import "mixins/_patterns.scss";
@import "mixins/_app-grid.scss";

#inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, 300px );
  grid-template-rows: 22px; // Will be changed in app.js
  grid-column-gap: $margin-betweenCards;
  justify-content: center;
  perspective: 800px;
}
.card {
  box-sizing: content-box;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.6s ease, height 0.6s ease;
  transform-style: preserve-3d;
  margin-bottom: $margin-betweenCards;
  padding: 20px;

  @include container;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
  }
}

// Grid classes
@include grid-row-spans;

/* Card Flip */
.front, .back {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.back {
  position: absolute;
  top: 20px;
  left: -10;
  transform: rotateY( 180deg );
}
.future {
  position: absolute;
  top: -20px;
  left: 2px;
  font-size: $fontSize-small;
  color: rgba( $white, 0.85 );
}

/* Item Style */
input {
  width: 200px;
  color: #F5F7FA;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: $fontSize-standard;
  caret-color: $color-cursor;
}
input.title {
  width: 250px;
  font-family: $font-headline;
  font-size: $fontSize-headline;
}

// Add card buttton
.addCardContainer {
  $gap: 30px;
  $dimensions: 70px;
  
  position: fixed;
  right: $gap;
  bottom: $gap;
  width: $dimensions;
  height: $dimensions;
  display: flex;
  justify-content: center;
  align-items: center;

  @include container;

  border-radius: 50%;
  cursor: pointer;

  &:hover .addCard {
    transform: rotateZ( 90deg );
  }
}
.addCard {
  $dimensions: 32px;

  height: $dimensions;
  width: $dimensions;
  transition: transform 0.3s ease-out;
  transform-origin: 50% 50% 0;
  user-select: none;
}

// Switch, Bullets

.bullet {
  font-size: 0.8rem;
  margin-right: 6px;
  user-select: none;
}
li:hover .switch {
  visibility: visible;
}
.switch {
  height: 12px;
  width: 12px;
  margin-left: 5px;
  visibility: hidden;

  &:hover g path {
    fill: $black;
  }
}

/* Flashes */
.flash {
  width: auto;
  margin-top: 20px;
  margin-bottom: -40px;
}

/* Applying margin to inner insted of content as otherwise the card flip animation will be cut off */
#inner {
  margin: $margin-contentTop 0;
}
#content {
  margin: 0;
}
.flash:nth-of-type( 1 ) {
  margin-top: $margin-contentTop;
  margin-bottom: 0;
}
