@import "mixins/_patterns.scss";
@import "mixins/_forms.scss";
@import "mixins/_buttons.scss";

$form-width: 250px;
$form-padding: 10px;

$form-margin: 20px;
$form-labelFont: 16px;

h1 {
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
}
#inner {
  @include container;
  padding: 50px;
  margin: 50px;
}

input {
  @include form-input( $form-width, $form-padding, $form-margin, $form-labelFont );
}
label {
  font-size: $form-labelFont;
}
.button {
  @include btn-submit( $form-width, $form-padding );
  margin-top: $form-margin;
}
a.button {
  margin-top: 0;
}

.dots {
  text-align: center;
  margin: 10px 0;

  img {
    width: 32px;
    height: 32px;
  }
}
