@import "mixins/_header.scss";

html {
  font-size: $fontSize-standard;
}
body {
  margin: 0;
  font-family: $font-text;
  color: $white;
}

// Hero
$hero-width: 100vw;
$hero-height: 400px;

#hero {
  display: flex;
  flex-direction: column;
  width: $hero-width;
  height: $hero-height;

  &::before {
    position: absolute;
    top: -6%;
    width: $hero-width;
    height: $hero-height;
    background-image: linear-gradient( 26deg, $blue, $green 75% );
    background-repeat: no-repeat;
    background-position: 0 50%;
    transform: skewY( -3.2deg );
    z-index: -1;
    content: "";
  }
}

// Header
#header {
  display: flex;
  justify-content: space-between;

  a {
    @include header-links;
  }
}

@include header-positions;
@include header-underlines;
@include header-logo;
@include header-logout;

// Hero content
.intro {
  grid-area: intro;
  justify-self: center;
  align-self: center;
  border-left: 1px $black solid;
  padding-left: 5px;
  margin: 40px 0 25px 70px;

  font-size: 1.1rem;
}

.button--get-started {
  grid-area: button;
  justify-self: center;
  align-self: center;
  width: 100px;
	color: $black;
	background: $white;
	box-shadow: 0 4px 10px 1px rgba( $black, 0.2 );
	font-size: 1.125rem;
	border-radius: 30px;
	transition: all .3s;
	cursor: pointer;
	text-decoration: none;
  padding: 18px 26px;
  text-align: center;
}
.button--get-started:hover {
	box-shadow: 0 14px 25px 1px rgba( $black, 0.3 );
	transform: translateY( -2px );
}
