mixin frontCard( card = {} )
    input.title( type="text" value=card.title placeholder="Add title" )
    ul
        each item in card.front
            li
                input.item( type="text" value=item )

mixin backCard( card = {} )
    p.future Future
    input.title( type="text" value=card.title placeholder="Add title" )
    ul
        each item in card.back
            li
                input.item( type="text" value=item )
