mixin frontCard( card = {} )
  input.title( type="text" value=card.title placeholder="Add title" )
  ul
    each item in card.front
      li
        span.bullet &#9679; <!-- This will emulate the li bullet point -->
        input.item( type="text" value=item )
        svg.switch.-toBack( xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve" width="12px" height="12px" )
          g
            path( d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5   c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z   " fill="#f5f7fa" )

mixin backCard( card = {} )
  p.future Future
  input.title( type="text" value=card.title placeholder="Add title" )
  ul
    each item in card.back
      li
        span.bullet &#9679; &nbsp;&nbsp;
        input.item( type="text" value=item )
        svg.switch.-toFront( xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve" width="12px" height="12px" )
          g
            path( d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225   c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" fill="#f5f7fa" )