mixin frontCard( card = {} )
  input.title( type="text" value=card.title placeholder="Add title" )
  ul
    each item in card.front
      li
        span.bullet &#9679; <!-- This will emulate the li bullet point -->
        input.item( type="text" value=item )

mixin backCard( card = {} )
  p.future Future
  input.title( type="text" value=card.title placeholder="Add title" )
  ul
    each item in card.back
      li
        span.bullet &#9679; &nbsp;&nbsp;
        input.item( type="text" value=item )
