mixin footer()
  #footer
    hr.footer-hr
    div.links
      a.footer-link( href="help" ) Help
      a.footer-link( href="https://github.com/jneidel/projects-overviewer/issues/new?assignee=jneidel&body=%3C!--%20Attach%20a%20screenshot%20where%20applicable%20--%3E%0A%23%23%23%20Expected%20Behavior%0A%0A%23%23%23%20Actual%20Behavior" target="blank" ) Send Feedback
      a.footer-link( href="https://github.com/jneidel/projects-overviewer" ) Source