html {
  font-size: 16px; }

body {
  display: grid;
  grid-template-columns: 6vw auto 6vw;
  grid-template-rows: 60px auto;
  grid-template-areas: "header header header" ". main .";
  background-image: linear-gradient(26deg, #15B7E4, #3BECAB);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  font-family: "Open Sans", Arial;
  color: #F5F7FA;
  margin: 0; }
  @media all and (max-width: 580px) {
    body {
      grid-template-areas: "header header header" "main main main"; } }

#content {
  grid-area: main;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0; }

/* Header */
#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 10px #F5F7FA; }

#header a {
  color: #F5F7FA;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  text-decoration: none; }

#nav-left {
  padding: 12px 25px; }

#nav-right {
  display: flex;
  padding: 0 25px; }

.nav-container {
  padding-top: 20px;
  padding-bottom: 18px; }

#nav-link-register {
  margin-right: 15px; }

.nav-username {
  margin: 0; }

/* Header underlines */
.header-underline {
  max-width: 0;
  height: 3px;
  background: #F5F7FA;
  transition: max-width 0.2s ease-in-out; }
  .header-link-home:hover + .header-underline {
    max-width: 100%; }
  .header-link-register:hover + .header-underline {
    max-width: 100%; }
  .header-link-login:hover + .header-underline {
    max-width: 100%; }
  .nav-username:hover + .header-underline {
    max-width: 100%; }

/* Header logo */
#header-icon {
  height: 35px;
  width: auto;
  position: relative;
  top: -5px; }

#header-logo {
  height: 35px;
  width: auto;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  padding-left: 7px; }

.header-link-home {
  display: block;
  min-width: 152px;
  height: 35px;
  margin-bottom: -2px; }
  .header-link-home:hover #header-logo {
    transform: translateX(0%); }

#header-logo-wrapper {
  display: inline-block;
  overflow: hidden; }

/* Logout icon */
.logout-icon {
  width: 16px;
  height: 16px;
  padding: 3px 0 0 8px; }

/* Flashes */
.flash {
  font-size: 1.25rem;
  background: rgba(51, 51, 51, 0.25);
  padding: 4px 8px 4px 6px;
  margin: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer; }
  .flash:hover {
    background: rgba(51, 51, 51, 0.15); }
  .flash:nth-of-type(1) {
    margin-bottom: 40px; }
  .flash.-success {
    border-left: 4px solid #FFC93C; }
  .flash.-error {
    border-left: 4px solid #FC3A52; }
  .flash.-info {
    border-left: 4px solid #F5F7FA; }
  .flash__text {
    margin: 0; }

/* Input */
input::-webkit-input-placeholder {
  color: rgba(245, 247, 250, 0.7); }

input::-moz-placeholder {
  color: rgba(245, 247, 250, 0.7); }

input::-ms-input-placeholder {
  color: rgba(245, 247, 250, 0.7); }

input::placeholder {
  color: rgba(245, 247, 250, 0.7); }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #F5F7FA;
  transition: background-color 5000s ease-in-out 0s; }

::-webkit-scrollbar {
  display: none; }
#content {
  display: flex;
  flex-direction: column; }

#inner {
  display: flex;
  justify-content: center;
  perspective: 800px; }

.card {
  box-sizing: content-box;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.6s ease, height 0.6s ease;
  transform-style: preserve-3d;
  margin-bottom: 44px;
  padding: 20px;
  box-shadow: 0 0 5px #F5F7FA;
  border-radius: 5px;
  background: rgba(245, 247, 250, 0.1); }
  .card:hover {
    box-shadow: 0 0 8px #F5F7FA; }
  .card ul {
    list-style-type: none;
    padding: 0;
    margin: 10px; }

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.back {
  position: absolute;
  top: 20px;
  left: -10;
  transform: rotateY(180deg); }

.future {
  position: absolute;
  top: -20px;
  left: 6px;
  font-size: 0.65rem;
  color: rgba(245, 247, 250, 0.85); }

input {
  width: 200px;
  color: #F5F7FA;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  caret-color: #333; }

.title {
  width: 250px;
  font-family: "Raleway", "Open Sans", Arial;
  font-size: 1.55rem;
  user-select: none;
  margin-left: 4px; }

.titleContainer {
  display: flex;
  margin-left: -10px; }
  .titleContainer .title {
    margin-left: 0; }
  .titleContainer:hover .remove {
    transform: translateX(0%); }

.removeWrapper {
  display: block;
  overflow: hidden; }

.remove {
  position: relative;
  top: 3px;
  transform: translateX(100%);
  user-select: none;
  padding-right: 4px;
  transition: transform 0.2s ease; }
  .remove:hover {
    color: #333; }

.bullet {
  font-size: 0.8rem;
  margin-right: 6px;
  user-select: none; }

li:hover .switch {
  visibility: visible; }

.switch {
  height: 12px;
  width: 12px;
  margin-left: 5px;
  visibility: hidden; }
  .switch:hover g path {
    fill: #333; }

.card {
  margin: 20px 0; }

.description {
  margin: 20px;
  width: 600px; }
  .description h2 {
    font-size: 1.55rem;
    font-family: "Raleway", "Open Sans", Arial;
    margin: 0; }
  .description p span {
    text-decoration: underline #F5F7FA; }

kbd {
  font-family: monospace;
  font-size: 1em;
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5; }

.addCardContainer {
  width: 28px;
  height: 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #F5F7FA;
  border-radius: 5px;
  background: rgba(245, 247, 250, 0.1);
  border-radius: 50%;
  cursor: pointer;
  margin: 0; }
  .addCardContainer:hover {
    box-shadow: 0 0 8px #F5F7FA; }
  .addCardContainer:hover .addCard {
    transform: rotateZ(90deg); }

.addCard {
  height: 12px;
  width: 12px;
  transition: transform 0.3s ease-out;
  transform-origin: 50% 50% 0; }

.switch-inline {
  height: 14px;
  width: 14px; }
  .switch-inline:hover g path {
    fill: #333; }
