doctype html
html
    head
        title= `${title} | Project Manager`
        link( rel="stylesheet", href="styles/styles.css" )
        link( rel="shortcut icon" type="image/png" href="/img/icon.png" )
        link( href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"  rel="stylesheet")
        block styles
    body
        #header
            block header
        
            block flashes
                if locals.flashes
                    - const categories = Object.keys(locals.flashes)
                        each category in categories
                            each message in flashes[category]
                                .flash( class=`flash--${category}` onClick="this.remove()" )
                                    p.flash__text!= message
        
        #content
            block content

        block scripts
