extends layout

include mixins/_cards

block content
    each card in cards
        span.card
            .front.inner
                +frontCard( card )
            .back.inner
                +backCard( card )
    span.card.addCardContainer
        img.addCard( src="img/add.png" )
