extends layout

block styles
    link( rel="stylesheet", href="styles/login-register.css" )

block content
    .container
        h1 Register
        form.login( action="/register" method="POST" )
            input.fields( name="username" type="text" placeholder="Username" required )
            input.fields( name="email" type="email" placeholder="Email Address" required )
            input.fields( name="password" type="password" placeholder="Password" required )
            input.fields( name="password-confirm" type="password" placeholder="Confirm Password" required )
            input.button( type="submit" value="Register" )
            .dots
                img( src="img/dots.png" )
            a.button( href="/login" ) Login
