body {
    display: grid;
    grid-template-columns: 6vw auto 6vw;
    grid-template-rows: 60px auto;
    grid-template-areas: 
        "header header header"
        ". main .";
    background-image: linear-gradient( #3BECAB, #15B7E4 );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #F5F7FA;
    min-height: 100vh;
    margin: 0;
	font-family: "Open Sans";
	font-size: 16px;
}
#content {
    grid-area: main;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Header */
#header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 10px #F5F7FA;
}
#header a {
    text-decoration: none;
    color: #F5F7FA;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease;
    cursor: pointer;
}
#nav-left {
    padding: 12px 25px;
}
#nav-right {
    display: flex;
    padding: 0 25px;
}
.nav-container {
    padding-top: 20px;
    padding-bottom: 18px;
}
/* Header underlines */
.header-underline {
    max-width: 0;
    height: 3px;
    background: #F5F7FA;
    transition: max-width 0.2s ease-in-out;
}
.header-link-home:hover + .header-underline {
    max-width: 100%;
}
.header-link-register:hover + .header-underline {
    max-width: 100%;
}
.header-link-login:hover + .header-underline {
    max-width: 100%;
}
/* Header logo */
#header-icon {
   height: 35px;
   width: auto;
   position: relative;
   top: -5px;
}
#header-logo {
    height: 35px;
    width: auto; 
    padding-left: 7px;
    transform: translateX( -100% );
    transition: transform 0.2s ease-in-out;
}
.header-link-home {
    display: block;
    min-width: 152px;
    height: 35px;
    margin-bottom: -2px;
}
#header-logo-wrapper {
    display: inline-block;
    overflow: hidden;
}
.header-link-home:hover #header-logo {
    transform: translateX( 0% );
}
/* Logout icon */
.logout-icon {
	width: 16px;
	height: 16px;
	padding: 3px 0 0 8px;
}

/* Responsive Design */
@media all and ( max-width: 580px ) {
    body {
        grid-template-areas: 
            "header header header"
            "main main main";
    }
}

/* Flashes */
.flash {
    background: rgba(51, 51, 51, 0.25);
	padding: 4px 8px 4px 6px;
	font-size: 1.25rem;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
}
.flash:hover {
	background: rgba(51, 51, 51, 0.15);
}
.flash--success {
    border-left: 4px solid rgb(255, 230, 0);
}
.flash--error {
	border-left: 4px solid #FC3A52;
}
.flash--info {
    border-left: 4px solid #F5F7FA;
}
.flash__text {
	margin: 0;
}

/* Input */
input::-webkit-input-placeholder {
    color: rgba(245, 247, 250, 0.7);
}
input::-moz-placeholder {
    color: rgba(245, 247, 250, 0.7);
}
input::-ms-input-placeholder {
    color: rgba(245, 247, 250, 0.7);
}
input::placeholder {
    color: rgba(245, 247, 250, 0.7);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #F5F7FA;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar { 
    display: none; 
}
