@import "mixins/_patterns.scss";
@import "mixins/_card.scss";

#content {
  justify-content: flex-start;
}

#inner {
  display: flex;
  perspective: 800px;

  @media all and ( max-width: 1075px ) {
    flex-direction: column;
  }
}

// Card styling
@include card; // _card


.card {
  margin: 65px 0;

  @media all and ( max-width: 1075px ) {
    width: 260px;
    align-self: center;
    margin: 0;
    margin-bottom: 15px;
  }
}

// Text styling
.description {
  margin: 20px;
  width: 600px;

  h2 {
    @include h2; // _patterns
  }

  p span {
    text-decoration: underline $white;
  }
}

@include kbd; // _patterns

// Inline demos
.addCardContainer {
  $dimensions: 28px;
  
  width: $dimensions;
  height: $dimensions;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include container; // _patterns

  border-radius: 50%;
  cursor: pointer;
  margin: 0;

  &:hover .addCard {
    transform: rotateZ( 90deg );
  }
}
.addCard {
  $dimensions: 12px;

  height: $dimensions;
  width: $dimensions;
  transition: transform 0.3s ease-out;
  transform-origin: 50% 50% 0;
}

.switch-inline {
  height: 14px;
  width: 14px;

  &:hover g path {
    fill: $black;
  }
}
