@import "mixins/_patterns.scss";
@import "mixins/_header.scss";
@import "mixins/_footer.scss";

html {
  font-size: $fontSize-standard;
}

body {
  display: grid;
  grid-template-columns: 6vw auto 6vw;
  grid-template-rows: $height-header 1fr $height-footer;
  grid-template-areas: 
    "header header header"
    ". main ."
    ". footer .";
  background-image: linear-gradient( 26deg, $blue, $green );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
	font-family: $font-text;
  color: $white;
  margin: 0;
}
#content {
  grid-area: main;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  margin: $margin-contentTop 0;
}

// Header
#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include container;
}
#header a {
  @include header-links;
}

@include header-positions;
@include header-underlines;
@include header-logo;
@include header-logout;

// Footer
#footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .links {
    height: $height-footer - 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      margin: 0;
      border-bottom: 1px transparent solid; // Align non underlined with underlined items
      margin: 0 5px;
    }
  }
  .footer-link { // Class to overwrite default above
    @include linkUnderline;
  }
}

.footer-hr {
  @include hr( 80vw ); // _patterns
  margin: 0;
}

// Flashes
.flash {
	font-size: 1.25rem;
  background: rgba( $black, 0.25 );
	padding: 4px 8px 4px 6px;
	margin: 5px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  cursor: pointer;
  
  &:hover {
    background: rgba( $black, 0.15 );
  }
  &:last-of-type {
    margin-bottom: $margin-contentTop;
  }
  &.-success {
    border-left: 4px solid $yellow;
  }
  &.-error {
    border-left: 4px solid $red;
  }
  &.-info {
    border-left: 4px solid $white;
  }
  &__text {
    margin: 0;
  }
}

// Input
input::-webkit-input-placeholder { color: rgba( $white, 0.7 ); }
input::-moz-placeholder          { color: rgba( $white, 0.7 ); }
input::-ms-input-placeholder     { color: rgba( $white, 0.7 ); }
input::placeholder               { color: rgba( $white, 0.7 ); }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $white;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar { 
  display: none; 
}
