@import "../_variables.scss";

/* Prefix btn */

@mixin btn-submit( $width, $padding ) {
  display: block;
  width: $width;
  font-size: 18px;  
  color: $white;
  background: transparent;
  border: 1px solid $white;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-out;
  padding: $padding;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: rgba( $white, 0.25 );
    border: 1px solid darken( $white, 10 );
  }
}
